<div class="row">
    <!-- Card begin-->
    <div class="col-sm card mt-1 mr-1">
      <div class="card-body">
        <h5 class="card-title"> <i class="file-icon fas fa-file-pdf mr-2"></i>Epic buisness practice !!!</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <span class="star-count">
            <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i>
          </span>
          | By EdRoe03 | 2 months ago
        </h6>
        <p class="card-text">sum exam qs i made for my buisiness mocks in march.</p>
        <a href="#" class="card-link">See more</a>
        <a href="#" class="card-link">Download</a>
      </div>
    </div>
    <!-- Card end-->
</div>