.star-count {
    color: rgb(194, 185, 55);
}
.no-star-count {
    color: rgb(201, 201, 201);
}
.file-icon {
    color: rgb(63, 121, 196);
}
.fa-file-pdf {
    color: rgb(196, 63, 63);
}
.preview-image {
    max-width: 180px;
    max-height: 300px;
}
body {
    padding-bottom: 20px;
}
.fa-search {
    cursor: pointer; 
}
.review .card{
    padding: 0.1rem;
    border: none;
    margin-bottom: 5px;
}
.review .card-body {
    padding: 0rem;
}
.review .card-title {
    font-size: 1.05rem;
}
.review .card-subtitle {
    font-size: 0.95rem;
}
.review .card-text {
    font-size: 0.9rem;
}
.review-details {
    margin-top: -10px;
}
.toast {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: -999;
}