<%- include(process.cwd() + '/res/templates/global/global_template_header') %>
<br/>
<div class="container">
    <h1><%- error.errorTitle%></h1>
    <p><%- error.errorDescription%></p>
</div>
<%- include(process.cwd() + '/res/templates/global/global_template_footer') %>