<%
    roundedRating = null;
    if (typeof ratingType != "undefined" && ratingType == "postDetail") {
        roundedRating = postData.roundedRating;
    } else if (typeof ratingType != "undefined" && ratingType == "review") {
        roundedRating = reviewData[x].reviewRating;
    } else if (typeof ratingType != "undefined" && ratingType == "postPreview"){
        roundedRating = generatorData.postArray[i].roundedRating;
    } 
%> 
<span class="star-count <% if (roundedRating == null) { %> no-star-count <% } %>">
    <% var j = 1; while (j <= Math.floor(roundedRating)) { %>
        <i class="fas fa-star"></i>
    <% j++; } j -= 1;%>

    <% if (roundedRating - j == 0.5) { %>
        <i class="fas fa-star-half-alt"></i>
    <% j++; } %>

    <% while (j < 5) { %>
        <i class="far fa-star"></i>
    <% j++; } %>
</span>