<span class="star-count <% if (postData.roundedRating == null || postData.roundedRating == undefined) { %> no-star-count <% } %>">
    <% var i = 1; while (i <= Math.floor(postData.roundedRating)) { %>
        <i class="fas fa-star"></i>
    <% i++; } i -= 1;%>

    <% if (postData.roundedRating - i == 0.5) { %>
        <i class="fas fa-star-half-alt"></i>
    <% i++; } %>

    <% while (i < 5) { %>
        <i class="far fa-star"></i>
    <% i++; } %>
</span>