<% for (x = 0; x < postData.reviewData.length; x++) { %>
    <div class="row mx-0">
        <div class="col-sm card mt-1 mr-1">
            <div class="card-body">
                <h5 class="card-title">
                    <%- include(process.cwd() + '/res/templates/ratingGenerator') %>
                    By: <%= postData.reviewData[x].reviewUser %> 
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Submitted: <%= postData.reviewData[x].reviewDate %>
                </h6>
                <p class="card-text"><%= postData.reviewData[x].reviewText %></p>
            </div>
        </div>
    </div>
<% } x = 0; %>
